body{
    margin: 0px;
}

.carrossel{
    background-position: center;
    background-size: cover;
    padding: 120px 0px;
}

.topo{
    position: relative;
    text-align: center;
    align-content: center;
    background-color: rgb(255, 255, 255);
}
img#iconTopo{
    margin-top: 4px;
    height: 100px;
}
.menu{
    min-height: 30px;
    text-align: center;
    background-color: white;
}
.itens{
    padding: 30px 5px;
    z-index: -1;
}

.card{
    display: inline;
}

/* interação js fixar menu e esconder topo*/
.fixarMenu{
    z-index: 1;
    width: 100%;
    padding: 17px 0px 10px;
    position:fixed;
    margin-top: 0px !important;
    background-color: rgb(10, 160, 140);
}
.topoDois{
    height: 0px;
}